<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제품</title>
</head>
<body>
<div class="product-main">
  <img th:src="@{/static.images/img.png}" alt="img">
  <div class="product-details">
    <h1 th:text="${item.name}"><span th:text="${item.name}"></span></h1>
    <div class="price" th:text="${item.price} + '원'"><span th:text="${item.price} + '원'"></span></div>
    <div class="buttons">
      <div>성분타입</div>
      <div>건강관리</div>
      <div>커피관리</div>
    </div>
    <button class="add-to-cart">Add to cart</button>
  </div>
</div>
</body>
</html>
