<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>update_form</title>
</head>
<body>
	<div class ="main">
		<form method="post" th:action="@{/question/update}">
					<label for="name">작성자 : </label>
		<input type="text" name="name" id="name" th:value="${question.member.name}" disabled>
		
		<label for="title">제목 : </label>
		<input type="text" name="title" id="title" th:value="${question.title}" disabled>
			
		<label for="content">내용 : </label>
		<textarea name="content" name="content" id="content" th:value="${question.content}" disabled></textarea>
			
			<button type="submit">수정</button>
		</form>
	</div>
</body>

