<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Question View</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/viewQuestionStyle.css}">
	<script>
    function confirmDelete() {
        return confirm('정말로 삭제하시겠습니까?');
    }
    function confirmAdd(){
    	return confirm('댓글이 작성되었습니다.');
    }
</script>
</head>
<body>
	<div th:insert="~{header}"></div>

	<div class="container">
		<div class="question-section">
			<h2>Question</h2>

			<div class="question-details">
				<div class="detail-item">
					<label for="name">작성자 :</label> <span th:text="${memNickName} + '님'"></span>
				</div>
				<div class="detail-item">
					<label for="writtenTime">작성시간 :</label> <span
						th:text="${question.qdate}"></span>
				</div>
				<div class="detail-item">
					<label for="title">제목 :</label> <span th:text="${question.title}"></span>
				</div>
				<div class="detail-item">
					<label for="content">내용 :</label> <span
						th:text="${question.content}"></span>
				</div>
			</div>

			<!-- <div class="button-group" th:if="${question.member.member_id == member.member_id}"> -->
			<div class="button-group">
				<form th:action="@{/question/updateQuestionForm}" method="get" class="inline-form"
					onsubmit="return confirm('문의글을 수정하겠습니까?');">
					<input type="hidden" name="question_id"
						th:value="${questionForm.question_id}" />
					<button type="submit">문의글 수정</button>
				</form>

				<form th:action="@{/question/deleteQuestion}" method="post"
					class="inline-form"
					onsubmit="return confirm('정말로 이 문의글을 삭제하시겠습니까?');">
					<input type="hidden" name="question_id"
						th:value="${questionForm.question_id}" />
					<button type="submit">문의글 삭제</button>
				</form>
			</div>
		</div>

		<form th:action="@{/question/questionList}" method="get"
			class="inline-form" onsubmit="return confirm('Q&A List로 이동하겠습니다.');">
			<button type="submit" class="qna-list-button">Q&A List로 이동하기</button>
		</form>

		<div class="comment-section">
			<h3>Question's Comment</h3>
			<form th:action="@{/questionComment/addComment}" method="post" onsubmit="return confirmAdd()">
				<input type="hidden" name="question_id"
					th:value="${question.question_id}" />
				<div class="form-group">
					<label for="content">댓글 작성:</label>
					<textarea id="content" name="content" rows="4"></textarea>
				</div>
				<button type="submit">댓글 작성하기</button>
			</form>

			<h3>Question's Comment List</h3>
			<div th:if="${#lists.isEmpty(comments)}" class="no-comments">댓글이 없습니다.</div>
			<div th:each="comment : ${comments}" class="comment">
				<div class="comment-info">
					<div>
						<span class="comment-author" th:text="${comment.member.nickname}  + '님'">Author	Name</span> 
						<span class="comment-date" th:text="${comment.qcdate}">Comment Date</span>
					</div>
					<form th:action="@{/questionComment/deleteComment}" method="post" onsubmit="return confirmDelete()">
						<input type="hidden" name="qc_id" th:value="${comment.qc_id}" />
						<input type="hidden" name="question_id"
							th:value="${question.question_id}" />
						<button type="submit" class="delete-button">삭제</button>
					</form>
				</div>
				<div class="comment-content" th:text="${comment.content}">Comment Content</div>
			</div>
		</div>
	</div>
	<div th:insert="~{footer}"></div>
</body>
</html>